server:
  port: 8888

spring:
  cloud:
    config:
      server:
        native:
          search-locations: file:///config-repo
  profiles:
    active: native

management:
  endpoints:
    web:
      exposure:
        include: health,info
